table {
    width: 100%;
    border-collapse: collapse;
    
  }
  
  th, td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
  }
  
  th {
    background-color: #f4f4f4;
    font-weight: bold;
  }
  
  td {
    white-space: nowrap; /* Prevents text from wrapping */
  }
  
  button {
    margin: 5px;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
  }
  
  button:first-child {
    background-color: #28a745;
    color: white;
  }
  
  button:last-child {
    /* background-color: #dc3545; */
    color: white;
  }
  
  /* Make table responsive */
  @media screen and (max-width: 768px) {
    table {
      display: block;
      overflow-x: auto;
      white-space: nowrap;
    }
  
    th, td {
      display: block;
      text-align: center;
    }
  }
  