/* Content Layout */
.supplier-details-container {
  display: flex;
  width: 100%;
}

.content {
  margin-left: 220px; /* Matches sidebar width */
  padding: 60px;
  width: calc(100% - 220px);
  background-color: #f4f6f9;;
}

.title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

/* Top Controls */
.top-controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.add-button button {
  background-color:burlywood;
  color: white;
  border: none;
  padding: 10px 15px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
}

.add-button button:hover {
  background-color: #666666;
}

.search-bar {
  flex-grow: 1;
  display: flex;
  justify-content: flex-end;
}

.search-input {
  padding: 8px;
  width: 250px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* Table Styles */
.react-data-table {
  background-color: #d3d3d3;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}
/* Action Buttons */
.edit-btn, .delete-btn {
  padding: 6px 12px;
  margin: 0 5px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.edit-btn {
  background: #f39c12;
  color: white;
}

.delete-btn {
  background: #e74c3c;
  color: white;
}

.edit-btn:hover {
  background: #d68910;
}

.delete-btn:hover {
  background: #c0392b;
}

